body{
background: #6190E8;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #A7BFE8, #6190E8);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #A7BFE8, #6190E8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
text-align: center;
}
@media screen and (max-width: 600px) {
	table {
	   width:100%;
	}
	th {
	   display: none;
	}
	tr:nth-of-type(2n) {
	   background-color: inherit;
	}
	tr td:first-child {
	   background: #f0f0f0;
	   font-weight:bold;
	   font-size:1.3em;
	}
	tbody td {
	   display: block;
	   text-align:center;
	}
	tbody td:before {
	   content: attr(data-th);
	   display: block;
	   text-align:center;
	}
}
table{
border: 4px solid black;	
}
font-size: 
.Titulo{
	text-align: center;
	font-size: 30px;
	font-family: sans-serif;
}
th{
	text-align: center;
	align-content: center;
	font-size:26px;
	border-collapse: collapse;
	border-bottom: 3px solid black;
}
td{

	border-collapse: collapse;
	border: 2px black solid;
	text-align: center;
}
.TablaBox{
align-content: center;
align-items: center;
padding-left: 25px; 
}
